<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tiffany & Co.</title>

    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    <header class="nav">
        <div class="nav__logo">
            <img class="nav__logo__img" src="./resources/logos/main-logo.png" alt="">
        </div>

        <div class="nav__menu">
            <p class="nav__menu__item">New Arrivals</p>
            <p class="nav__menu__item">Gifts</p>
            <p class="nav__menu__item">About Us</p>
            <p class="nav__menu__item">Contact</p>
            <p class="nav__menu__item">Shop</p>
        </div>
    </header>

    <div class="banner">
        <div class="banner__call-to-action">
            <h1 class="banner__call-to-action__h1">From Tiffany,</br>with Love.</h1>
            <button class="banner__call-to-action__button">Buy</button>
        </div>

        <div class="banner__card">
            <div class="banner__card__title">
                <p class="banner__card__title__p">NEW</p>
                <h1 class="banner__card__title__h1">TIFFANY </br><span class="banner__card__title__h1__span">HARMONY</span></h1>
            </div>

            <hr class="banner__card__hr">

            <div class="banner__card__description">
                <img src="./resources/banner/banner-main-image.png" alt="" class="banner__card__description__img">
                <div class="banner__card__description__text">
                    <p class="banner__card__description__text__p">A striking study in <br/> balance and grace.</p>
                    <a class="banner__card__description__text__a" href="">View more details &#8594</a>
                </div>
            </div>
        </div>
    </div>

    <section class="promo">
        <div class="promo__ring-container">
            <a class="promo__ring-container__a" href="">View more details &#8594</a>
            <div class="promo__ring-container__rings">
                <div class="promo__ring-container__rings__type-A">
                    <img  class="promo__ring-container__rings__type-A__img" src="./resources/promo/promo-1.png" alt="">
                </div>
                <div class="promo__ring-container__rings__type-B">
                    <img  class="promo__ring-container__rings__type-B__img" src="./resources/promo/promo-2.png" alt="">
                    <img  class="promo__ring-container__rings__type-B__img" src="./resources/promo/promo-3.png" alt="">
                </div>
            </div>
        </div>

        <div class="promo__info">
            <h1 class="promo__info__h1">Make it even more special.</h1>
            <p class="promo__info__p">Complement your engagement ring with our beautiful wedding bands. There is a bunch of styles for you in this really important day.</p>
        </div>
    </section>

    <section class="features">
        <h1 class="features__title">Introducing Tiffany HARMONY</h1>
        <div class="features__card-container">
            <div class="features__card-container__card">
                <div class="features__card-container__card__image">
                    <h3 class="features__card-container__card__image__title">HARMONY Round</h3>
                    <img class="features__card-container__card__image__img" src="./resources/features/harmony-1.png" alt="">
                </div>

                <div class="features__card-container__card__info">
                    <p class="features__card-container__card__info__description">The delicate four-pronged setting ensures the diamond shines brilliantly above the band and is complemented by the exacting proportions and tapered band of this ring that, when worn with its matching band ring, creates the perfect bridal duet.</p>   
                    <h3 class="features__card-container__card__info__index">01</h3>
                </div>
            </div>

            <div class="features__card-container__card">
                <div class="features__card-container__card__image">
                    <h3 class="features__card-container__card__image__title">HARMONY Diamond</h3>
                    <img class="features__card-container__card__image__img" src="./resources/features/harmony-2.png" alt="">
                </div>

                <div class="features__card-container__card__info" id="features-info">
                    <p class="features__card-container__card__info__description">The delicate four-pronged setting ensures the diamond shines brilliantly above the band and is complemented by the exacting proportions and tapered band of this ring that, when worn with its matching band ring, creates the perfect bridal duet.</p>
                    <h3 class="features__card-container__card__info__index">02</h3>
                </div>
            </div>

            <div class="features__card-container__card">
                <div class="features__card-container__card__image">
                    <h3 class="features__card-container__card__image__title">HARMONY Diamond Band</h3>
                    <img class="features__card-container__card__image__img" src="./resources/features/harmony-3.png" alt="">
                </div>

                <div class="features__card-container__card__info">
                    <p class="features__card-container__card__info__description">The delicate four-pronged setting ensures the diamond shines brilliantly above the band and is complemented by the exacting proportions and tapered band of this ring that, when worn with its matching band ring, creates the perfect bridal duet. 
                    </p>
                    <h3 class="features__card-container__card__info__index">03</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="customizing">
        <div class="customizing__previsualization">
            <img class="customizing__previsualization__img r1 wb1 s1" src="./resources/customizing/results/r2.png" alt="">
        </div>

        <div class="customizing__interaction">
            <div class="customizing__interaction__description">
                <h1 class="customizing__interaction__description__h1">Customize your<br/>own ring.</h1>
                <p class="customizing__interaction__description__p">A unique love deserves a unique ring. Our new program allows you to design your own engagement ring by choosing a diamond and a band, setting a personal inscription that speak to you and beautifully represent your love.</p>
            </div>

            <div class="customizing__interaction__row-1">
                <div class="customizing__interaction__row-1__harmony-ring">
                    <h3 class="customizing__interaction__row-1__harmony-ring__h3">Select a HARMONY ring</h3>
                    <div class="customizing__interaction__row-1__harmony-ring__buttons">
                        <div class="customizing__interaction__row-1__harmony-ring__buttons__r1">
                            <img src="./resources/customizing/buttons/r1.png" alt="" class="">
                        </div>
    
                        <div class="customizing__interaction__row-1__harmony-ring__buttons__r2">
                            <img src="./resources/customizing/buttons/r2.png" alt="" class="">
                        </div>
    
                        <div class="customizing__interaction__row-1__harmony-ring__buttons__r3">
                            <img src="./resources/customizing/buttons/r3.png" alt="" class="">
                        </div>
                    </div>
                </div>

                <div class="customizing__interaction__row-1__wedding-band">
                    <h3 class="customizing__interaction__row-1__wedding-band__h3">Select a wedding band</h3>
                    <div class="customizing__interaction__row-1__wedding-band__buttons">
                        <div class="customizing__interaction__row-1__wedding-band__buttons__wb1">
                            <img src="./resources/customizing/buttons/wb1.png" alt="" class="">
                        </div>
    
                        <div class="customizing__interaction__row-1__wedding-band__buttons__wb2">
                            <img src="./resources/customizing/buttons/wb2.png" alt="" class="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="customizing__interaction__row-2">
                <div class="customizing__interaction__row-2__diamond-shape">
                    <h3 class="customizing__interaction__row-2__diamond-shape__h3">Select a diamond shape</h3>
                    <div class="customizing__interaction__row-2__diamond-shape__buttons">
                        <div class="customizing__interaction__row-2__diamond-shape__buttons__s1">
                            <img src="./resources/customizing/buttons/s1.png" alt="" class="">
                        </div>
    
                        <div class="customizing__interaction__row-2__diamond-shape__buttons__s2">
                            <img src="./resources/customizing/buttons/s2.png" alt="" class="">
                        </div>
    
                        <div class="customizing__interaction__row-2__diamond-shape__buttons__s3">
                            <img src="./resources/customizing/buttons/s3.png" alt="" class="">
                        </div>

                        <div class="customizing__interaction__row-2__diamond-shape__buttons__s4">
                            <img src="./resources/customizing/buttons/s4.png" alt="" class="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery">
        <div class="gallery__title">
            <h1 class="gallery__title__h1">Gallery</h1>
        </div>

        <div class="gallery__type-A">
            <div class="gallery__type-A__image">
                <img class="gallery__type-A__image__img" src="./resources/gallery/gallery1.png" alt="">
            </div>

            <div class="gallery__type-A__pile">
                <div class="gallery__type-A__pile__image">
                    <img class="gallery__type-A__pile__image__img" src="./resources/gallery/gallery2.png" alt="">
                </div>
    
                <div class="gallery__type-A__pile__image">
                    <img class="gallery__type-A__pile__image__img" src="./resources/gallery/gallery3.png" alt="">
                </div>
            </div>            

            <div class="gallery__type-A__image">
                <img class="gallery__type-A__image__img" src="./resources/gallery/gallery4.png" alt="">
            </div>
        </div>

        <div class="gallery__type-A">
                <div class="gallery__type-A__image">
                    <img class="gallery__type-A__image__img" src="./resources/gallery/gallery5.png" alt="">
                </div>
    
                <div class="gallery__type-A__pile">
                    <div class="gallery__type-A__pile__image">
                        <img class="gallery__type-A__pile__image__img" src="./resources/gallery/gallery6.png" alt="">
                    </div>
        
                    <div class="gallery__type-A__pile__image">
                        <img class="gallery__type-A__pile__image__img" src="./resources/gallery/gallery7.png" alt="">
                    </div>
                </div>            
    
                <div class="gallery__type-A__image">
                    <img class="gallery__type-A__image__img" src="./resources/gallery/gallery8.png" alt="">
                </div>
            </div>
    </section>

    <section class="specifications">
        <h1 class="specifications__title">Some details</h1>
        </div>
        <div class="specifications__table">
            <div class="specifications__table__column">
                <h2 class="specifications__table__column__h2">Ring</h2>
                <p class="specifications__table__column__p">Tiffany HARMONY Round</p>
                <p class="specifications__table__column__p">Tiffany HARMONY Diamond band</p>
                <p class="specifications__table__column__p">Tiffany HARMONY 18K Rose gold</p>
            </div>
            <div class="specifications__table__column">
                <h2 class="specifications__table__column__h2">Carat Weight</h2>
                <div class="specifications__table__column__options">
                    <p class="specifications__table__column__options__p">0.5</p>
                    <p class="specifications__table__column__options__p">1.25</p>
                    <p class="specifications__table__column__options__p">1.5</p>
                </div>
                <div class="specifications__table__column__options">
                    <p class="specifications__table__column__options__p">0.5</p>
                    <p class="specifications__table__column__options__p">1.25</p>
                    <p class="specifications__table__column__options__p">1.5</p>
                </div>
                <div class="specifications__table__column__options">
                    <p class="specifications__table__column__options__p">0.5</p>
                    <p class="specifications__table__column__options__p">1.25</p>
                    <p class="specifications__table__column__options__p">1.5</p>
                </div>
            </div>
            <div class="specifications__table__column">
                <h2 class="specifications__table__column__h2">Price</h2>
                <div class="specifications__table__column__options">
                    <p class="specifications__table__column__options__p">$4.050</p>
                    <p class="specifications__table__column__options__p">$16.600</p>
                    <p class="specifications__table__column__options__p">$23.900</p>
                </div>
                <div class="specifications__table__column__options">
                    <p class="specifications__table__column__options__p">$4.970</p>
                    <p class="specifications__table__column__options__p">$18.100</p>
                    <p class="specifications__table__column__options__p">$31.600</p>
                </div>
                <div class="specifications__table__column__options">
                    <p class="specifications__table__column__options__p">$3.470</p>
                    <p class="specifications__table__column__options__p">$16.100</p>
                    <p class="specifications__table__column__options__p">$23.200</p>
                </div>
            </div>
            <div class="specifications__table__column">
                <h2 class="specifications__table__column__h2">+Wedding Band</h2>
                <div class="specifications__table__column__options">
                    <p class="specifications__table__column__options__p">$6.200</p>
                    <p class="specifications__table__column__options__p">$18.700</p>
                    <p class="specifications__table__column__options__p">$26.050</p>
                </div>
                <div class="specifications__table__column__options">
                    <p class="specifications__table__column__options__p">$7.120</p>
                    <p class="specifications__table__column__options__p">$20.250</p>
                    <p class="specifications__table__column__options__p">$33.750</p>
                </div>
                <div class="specifications__table__column__options">
                    <p class="specifications__table__column__options__p">$5.445</p>
                    <p class="specifications__table__column__options__p">$18.075</p>
                    <p class="specifications__table__column__options__p">$25.175</p>
                </div>
            </div>
        </div>
    </section>

    <section class="newsletter">
        <div class="newsletter__info">
            <h2 class="newsletter__info__h2">Subscribe to our newsletter.</h2>
            <p class="newsletter__info__p">Be the first to know about exciting new designs, special events, store openings and much more.</p>
        </div>
    
        <div class="newsletter__form">
            <input type="text" class="newsletter__form__input" placeholder="Your e-mail adress here."/>
            <button class="newsletter__form__button">&#8594</button>
        </div>
    </section>


    <footer class="footer">
        <div class="footer__cont">
            <div class="footer__cont__col-uno">
                <p class="footer__cont__col-uno__titulo">OUR PORTFOLIO</p>
                <p class="footer__cont__col-uno__uno">Love & Engagement</p>
                <p class="footer__cont__col-uno__dos">Jewelry</p>
                <p class="footer__cont__col-uno__tres">Home & Accesories</p>
                <p class="footer__cont__col-uno__cuatro">Gifts</p>
                <p class="footer__cont__col-uno__cinco">Personalization</p>
            </div>

            <div class="footer__cont__col-dos">
                <p class="footer__cont__col-dos__titulo">ABOUT US</p>
                <p class="footer__cont__col-dos__uno">Love & Engagement</p>
                <p class="footer__cont__col-dos__dos">Jewelry</p>
                <p class="footer__cont__col-dos__tres">Home & Accesories</p>
                <p class="footer__cont__col-dos__cuatro">Gifts</p>
                <p class="footer__cont__col-dos__cinco">Personalization</p>
            </div>

            <div class="footer__cont__col-tres">
                <p class="footer__cont__col-tres__titulo">CONTACT</p>
                <p class="footer__cont__col-tres__uno">Love & Engagement</p>
                <p class="footer__cont__col-tres__dos">Jewelry</p>
                <p class="footer__cont__col-tres__tres">Home & Accesories</p>
                <p class="footer__cont__col-tres__cuatro">Gifts</p>
                <p class="footer__cont__col-tres__cinco">Personalization</p>

            </div>

            <div class="footer__cont__col-cuatro">
                <div class="footer__cont__col-cuatro__followus">
                    <div class="footer__cont__col-cuatro__followus__text">
                        <p>Follow us</p>
                    </div>
                    <div class="footer__cont__col-cuatro__followus__icons">
                        <img class="footer__cont__col-cuatro__followus__icons__icon" src="./data/icono facebook.png" alt="">
                        <img class="footer__cont__col-cuatro__followus__icons__icon" src="./data/icono google.png" alt="">
                        <img class="footer__cont__col-cuatro__followus__icons__icon" src="./data/icono insta.png" alt="">
                        <img class="footer__cont__col-cuatro__followus__icons__icon" src="./data/icono twitter.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__linea"></div>

    </footer>

    <script src="./scripts/index.js"></script>
</body>

</html>