<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Tiffany and Co. Store</title>
</head>

<body>
   <header class="nav">
        <div class="nav__logo">
            <img class="nav__logo__img" src="../static/img/logo.png" alt="">
        </div>

        <div class="nav__menu">
            <p class="nav__menu__item">New Arrivals</p>
            <p class="nav__menu__item">Gifts</p>
            <p class="nav__menu__item">About Us</p>
            <p class="nav__menu__item">Contact</p>
            <p class="nav__menu__item">Shop</p>
        </div>
    </header>

    <div class="banner">
        <p>This is Tiffany</p>
    </div>

</body>

</html>